{% extends 'recruitment/panelist/base_panelist.html' %}

{% block content %}

<div class="container mt-4">

    <h3>Interview Candidates - {{ vacancy.title }}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>National ID</th>
                <th>Candidate</th>
                <th>Details</th>
                <th>Your Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for app in applications %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ app.applicant.id_no }}</td>
                <td>{{ app.applicant.name }}</td>
                <td>
                    <a href="{% url 'application_detail' vacancy.id %}" target="_blank">profile</a>
                </td>
                <td>
                    {% with score=app.scores.all|dictsort:"panelist_id" %}
                        {% for s in app.scores.all %}
                            {% if s.panelist == request.user %}
                                {{ s.score }}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </td>
                <td>
                    <a href="{% url 'panelist_score_candidate' app.id %}">
                        Score
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}