{% extends 'recruitment/hr/base_hr.html' %}

{% block sidebar %}

    <li class="nav-item mt-3">
        <h6 class="ps-3 text-uppercase text-xs font-weight-bolder opacity-6">
            Committee
        </h6>
    </li>
    
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'shortlisting_dashboard' %}active{% endif %}"
            href="#">
            <i class="fas fa-home me-2"></i>
            Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
            href="#">
            <i class="fas fa-briefcase me-2"></i>
            Assigned Vacancies
        </a>
    </li>


{% endblock %}