{% extends "recruitment/ceo/base_ceo.html" %}
{% block content %}

<div class="container mt-4">

    <h3>CEO Review - {{ vacancy.title }}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Candidate</th>
                <th>Final Average</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for app in applications %}
            <tr>
                {% if app.status == 'selected_top_three' %}
                <td>{{ forloop.counter }}</td>
                <td>{{ app.applicant.first_name }}</td>
                <td>{{ app.avg_score|floatformat:2 }}</td>
                <td>
                        <span class="badge bg-success">Top 3</span>
                        <td>
                            <a href="{% url 'ceo_select_candidate' vacancy.id app.id %}"
                            class="btn btn-primary btn-sm">
                            Select
                            </a>
                        </td>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}