{% extends 'recruitment/hr/base_hr.html' %}
{% block content %}
<div class="container mt-4">
  <h3>Users</h3>
  <a href="{% url 'user_create' %}" class="btn btn-primary mb-2"
    >Create</a>
    
  <ul class="list-group">
    {% for user in users %}
    <li class="list-group-item">
      {{ user.first_name }} {{ user.last_name }}
    </li>

    
    <li class="list-group-item d-flex justify-content-between">
        {{ user.email }} - {{ user.role }}
        <a href="{% url 'assign_role' user.id %}" class="btn btn-sm btn-secondary">Assign Role</a>
        <a href="{% url 'user_update' user.pk %}" class="btn btn-sm btn-secondary">Edit</a>
        <a href="{% url 'user_delete' user.pk %}" class="btn btn-sm btn-danger">Delete</a>
    </li>
    



    {% endfor %}
  </ul>
</div>
{% endblock %}


