{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Officer{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

{% include 'includes/navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light vh-100 p-3">
            <h6>Officer Menu</h6>
            <ul class="nav flex-column">
                <li><a href="{% url 'officer_dashboard' %}" class="nav-link">Dashboard</a></li>
                <li><a href="#" class="nav-link">Internal Vacancies</a></li>
                <li><a href="#" class="nav-link">My Applications</a></li>
            </ul>
        </div>
        <div class="col-10 p-4">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>