{% extends "layout/base.html" %}
{% block content %}
<h3>Profile Completion: {{ completion }}%</h3>
<h2>Step 1: Basic Details</h2>

<form method="POST">
    {% csrf_token %}

    <label>First Name</label>
    <input type="text" name="first_name"
           value="{{ profile.first_name|default:'' }}" required>

    <label>Second Name</label>
    <input type="text" name="second_name"
           value="{{ profile.second_name|default:'' }}" required>

    <label>Email</label>
    <input type="email" name="email"
           value="{{ profile.email|default:'' }}" required>

    <label>ID Number</label>
    <input type="text" name="id_no"
           value="{{ profile.id_no|default:'' }}" required>

    <label>Date of Birth</label>
    <input type="date" name="date_of_birth"
           value="{{ profile.date_of_birth|date:'Y-m-d' }}" required>

    <label>Gender</label>
    <input type="text" name="gender"
           value="{{ profile.gender|default:'' }}">

    <label>Ethnic Group</label>
    <input type="text" name="ethnic_group"
           value="{{ profile.ethnic_group|default:'' }}">

    <label>Home County</label>
    <input type="text" name="home_county"
           value="{{ profile.home_county|default:'' }}">

    <label>Disability Status</label>
    <input type="text" name="disability_status"
           value="{{ profile.disability_status|default:'' }}">

    <br><br>

    <button type="submit">
        {% if profile %} Update Profile {% else %} Save Profile {% endif %}
    </button>
</form>

{% if profile %}
    <br>
    <form method="POST" action="{% url 'delete_profile' %}">
        {% csrf_token %}
        <button type="submit" style="color:red;">
            Delete Profile
        </button>
    </form>
{% endif %}

{% endblock %}