{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
    <title>UFAA Job Portal</title>
    <!-- Fonts & Icons -->
    <link href="{% static 'assets/css/google_font.css?family=Open+Sans:300,400,600,700' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/font-awesome/all.min.css' %}" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <link href="{% static 'assets/css/swal2/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/swal2/sweetalert2.min.css' %}">
    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet"/>


    <!-- Main CSS -->
    <link id="pagestyle" href="{% static 'assets/css/soft-ui-dashboard.css' %}" rel="stylesheet"/>
    <link id="pagestyle" href="{% static 'assets/css/base.css' %}" rel="stylesheet"/>


    {% block extra_css %}{% endblock %}
</head>

<body class="g-sidenav-show bg-gray-100">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 ps ps--active-y bg-transparent"
       id="sidenav-main">
    <div class="sidenav-header  m-0" href="{% url 'dashboard' %}">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="{% url 'dashboard' %}" target="_blank">
            <img src="{% static 'assets/img/logos/ufaa_logo.png' %}" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">
            {% comment %} {{ request.user.email|default:request.user.email }} {% endcomment %}
        </span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse w-auto max-height-vh-100 h-100 ps" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <!-- Dashboard -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                   href="{% url 'dashboard' %}">
                    <i class="fa-solid fa-home me-2"></i>
                    Dashboard
                </a>
            </li>


            <!-- Profile -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
                   href="{% url 'profile' %}">
                    <i class="fas fa-user me-2"></i>
                    Profile
                </a>
            </li>

            <!-- Academic Qualifications -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'qualifications' %}active{% endif %}"
                   href="{% url 'academic_qualifications' %}">
                    <i class="fas fa-graduation-cap me-2"></i>
                    Academic Qualifications
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link  " href="{% url 'professional_qualifications' %}">
                    <i class="fas fa-certificate me-2"></i>
                    <span class="nav-link-text ms-1">professional qualifications</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link  " href="{% url 'work_history' %}">
                    <i class="fas fa-briefcase me-2"></i>
                    <span class="nav-link-text ms-1">Work history</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link  " href="{% url 'additional_details' %}">
                    <i class="fas fa-info-circle me-2"></i>
                    <span class="nav-link-text ms-1">Additional details</span>
                </a>
            </li>

            <!-- Applications -->
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'applications' %}active{% endif %}"
                   href="#">
                    <i class="fas fa-file-alt me-2"></i>Application status
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link  " href="../pages/virtual-reality.html">
                    <i class="fas fa-chart-line me-2"></i>
                    <span class="nav-link-text ms-1">Status</span>
                </a>
            </li>

        </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
    </div>

    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 747px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 510px;"></div>
    </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky"
         id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:">Pages</a>
                    </li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{ page }}</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">{{ page }}</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a href="#" class="nav-link text-body p-0" data-bs-toggle="dropdown">
                            <i class="fa fa-user me-1"></i>
                            {% comment %} {{ request.user.email }} {% endcomment %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3">

                            <li>
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    My Profile
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                                    Logout
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item px-3 d-flex align-items-center">
                    </li>
                    <li class="nav-item dropdown pe-2 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-body p-0" id="dropdownMenuButton"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell cursor-pointer"></i>
                            <span class="d-sm-inline d-none">Notifications</span>
                        </a>
                        <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                            aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item border-radius-md" href="javascript:">
                                    <div class="d-flex py-1">
                                        <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                                            <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                                                 xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <title>credit-card</title>
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF"
                                                       fill-rule="nonzero">
                                                        <g transform="translate(1716.000000, 291.000000)">
                                                            <g transform="translate(453.000000, 454.000000)">
                                                                <path class="color-background"
                                                                      d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                                                      opacity="0.593633743"></path>
                                                                <path class="color-background"
                                                                      d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="text-sm font-weight-normal mb-1">
                                                Payment successfully completed
                                            </h6>
                                            <p class="text-xs text-secondary mb-0">
                                                <i class="fa fa-clock me-1"></i>
                                                2 days
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <!-- Block content here -->
        {% block content %}

        {% endblock %}
        <!-- END Block content -->
        <footer class="footer pt-3  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-12 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            The Unclaimed Financial Assets Authority (UFAA). All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 779px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 358px;"></div>
    </div>
</main>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>


<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: 'Search...',
            width: '100%',
        });
    });
</script>
<script>
$(document).ready(function () {

    $('.select2').select2({ width: '100%', placeholder: '--- SELECT AREA ---' });

    // Store all options on load
    const allConstituencies = [];
    $('#constituencySelect option[data-county]').each(function () {
        allConstituencies.push({
            id:     $(this).val(),
            name:   $(this).text(),
            county: $(this).data('county')
        });
    });

    const allSubCounties = [];
    $('#subCountySelect option[data-county]').each(function () {
        allSubCounties.push({
            id:     $(this).val(),
            name:   $(this).text(),
            county: $(this).data('county')
        });
    });

    const allWards = [];
    $('#wardSelect option[data-constituency]').each(function () {
        allWards.push({
            id:           $(this).val(),
            name:         $(this).text(),
            constituency: $(this).data('constituency')
        });
    });

    // ── Helper: rebuild a select2 dropdown ──
    function rebuildSelect(selector, options, placeholderText) {
        $(selector).select2('destroy');
        $(selector).empty().append(`<option value="">${placeholderText}</option>`);
        options.forEach(opt => {
            $(selector).append(`<option value="${opt.id}">${opt.name}</option>`);
        });
        $(selector).select2({ width: '100%', placeholder: placeholderText });
    }

    // ── County → rebuild Constituency + SubCounty, reset Ward ──
    $('#countySelect').on('change', function () {
        const countyId = $(this).val();

        // Reset downstream
        rebuildSelect('#constituencySelect', [], 'Select constituency');
        rebuildSelect('#subCountySelect',    [], 'Select sub county');
        rebuildSelect('#wardSelect',         [], 'Select ward');

        if (countyId) {
            rebuildSelect(
                '#constituencySelect',
                allConstituencies.filter(c => c.county == countyId),
                'Select constituency'
            );
            rebuildSelect(
                '#subCountySelect',
                allSubCounties.filter(s => s.county == countyId),
                'Select sub county'
            );
        }
    });

    // ── Constituency → rebuild Ward ──
    $('#constituencySelect').on('change', function () {
        const constituencyId = $(this).val();

        rebuildSelect('#wardSelect', [], 'Select ward');

        if (constituencyId) {
            rebuildSelect(
                '#wardSelect',
                allWards.filter(w => w.constituency == constituencyId),
                'Select ward'
            );
        }
    });

    // ── Restore saved values on edit ──
    const savedCounty       = "{{ profile.home_county_id|default:'' }}";
    const savedConstituency = "{{ profile.constituency_id|default:'' }}";
    const savedSubCounty    = "{{ profile.sub_county_id|default:'' }}";
    const savedWard         = "{{ profile.ward_id|default:'' }}";

    if (savedCounty) {
        $('#countySelect').val(savedCounty).trigger('change');

        setTimeout(function () {
            if (savedConstituency) {
                $('#constituencySelect').val(savedConstituency).trigger('change');
            }
            if (savedSubCounty) {
                $('#subCountySelect').val(savedSubCounty).trigger('change');
            }
            setTimeout(function () {
                if (savedWard) {
                    $('#wardSelect').val(savedWard).trigger('change');
                }
            }, 150);
        }, 150);
    }

});
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/soft-ui-dashboard.min.js?v=1.0.3' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/swal2/bootstrap.bundle.min.js' %}"></script>

<!-- SweetAlert2 JS -->
<script src="{% static 'assets/js/swal2/swal2.js' %}"></script>
<script src="{% static 'assets/js/autologout.js' %}"></script>
<script>
    window.appConfig = {
        csrfToken: '{{ csrf_token }}',
        logoutUrl: '{% url "logout" %}',
        loginUrl: '{% url "index" %}',
    };
</script>


</body>
</html>