{% extends 'recruitment/hr/base_hr.html' %}

{% block title %}HR Dashboard{% endblock %}


{% block content %}

<div class="container mt-4">

    <h3>HR Dashboard</h3>

    
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h6>Open Vacancies</h6>
                    <h3>{{ open_vacancies_count }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning text-dark">
                <div class="card-body">
                    <h6>Pending CEO Approval</h6>
                    <h3>{{ pending_ceo_count }}</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h6>Appointments Completed</h6>
                    <h3>{{ appointed_count }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <h5 class="mb-2">Vacancies</h5>
        <a href="{% url 'create_vacancy' %}" class="btn btn-success mb-2">
            + Create Vacancy
        </a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Reference</th>
                <th>Status</th>
                <th>Valid Until</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
            <tr>
                <td>{{ vacancy.title }}</td>
                <td>{{ vacancy.reference_number }}</td>
                <td>{{ vacancy.status }}</td>
                <td>{{ vacancy.end_date }}</td>

                <td>

                    <!-- Draft Stage -->
                    {% if vacancy.status == "draft" %}
                        <a href="{% url 'update_vacancy' vacancy.id %}">Edit</a> |
                        <a href="{% url 'delete_vacancy' vacancy.id %}">Delete</a> |
                        <a href="{% url 'publish_vacancy' vacancy.id %}">Publish</a> |
                    {% elif vacancy.status == "open" %}
                         | <a href="{% url 'close_vacancy' vacancy.id %}">Close</a> 
                    {% elif vacancy.status == "closed" %}
                        <a href="{% url 'open_vacancy' vacancy.id %}">Open</a>
                    {% endif %}

                    <!-- Open / Closed -->
                    {% if vacancy.status == "open" or vacancy.status == "closed" %}
                         <a href="{% url 'hr_view_applications' vacancy.id %}">
                            View Applications
                        </a> |                        
                        <a href="{% url 'update_vacancy' vacancy.id %}">Edit</a> |
                        <a href="{% url 'delete_vacancy' vacancy.id %}">Delete</a> 
                    {% endif %}

                    <!-- Longlisting -->
                    {% if vacancy.status == "longlisting" %}
                        |
                        <a href="{% url 'shortlist_candidates' vacancy.id %}">
                            Shortlist
                        </a>
                    {% endif %}

                    <!-- Shortlisting -->
                    {% if vacancy.status == "shortlisting" %}
                        |
                        <a href="{% url 'appoint_panelists' vacancy.id %}">
                            Appoint Panel
                        </a>
                    {% endif %}

                    <!-- Interviews -->
                    {% if vacancy.status == "interviews" %}                        
                        Interview Stage Active
                    {% endif %}

                    <!-- Interviews -->
                    {% if vacancy.status == "interviews" %}
                        |
                    <a href="{% url 'vacancy_panelists' vacancy.id %}">
                        View Panelists
                    </a>
                    {% endif %}

                    {% if vacancy.status == "interviews" %}
                        <span class="text-primary fw-bold">Interview Stage Active</span> |
                        
                        <a href="{% url 'vacancy_panelists' vacancy.id %}">
                            View Panelists
                        </a> |
                        
                        <a href="{% url 'hr_ranking_view' vacancy.id %}" 
                        class="text-success fw-bold">
                            View Ranking
                        </a>
                    {% endif %}

                    {% if vacancy.status == "ceo_review" %}
                        <span class="text-success fw-bold">Top Three Selected</span> |
                        <a href="{% url 'hr_ranking_view' vacancy.id %}">
                            View Final Ranking
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No vacancies created.</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

</div>

{% endblock %}